<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
       <h:body>
       Hola Buen Dia.
       <br />
           <h:link outcome="WelcomeFrimefaces" value="Frimefaces Welcome page" />
           <f:view>              
            <h:form>
                <p:outputLabel for="name" value="NOMBRE"></p:outputLabel>
                <p:inputText id="name" value="#{taller1.NOMBRE}"></p:inputText>
                <p:button value="Enviar"></p:button>
            </h:form>
        </f:view>              
    </h:body>
</html>

